html, body, ul, p{
    margin: 0;
    padding: 0;
    list-style: none;
}

html, body {
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    width: 100%;
    height: 100%;
}

.line {
    width: 1px;
    height: 100%;;
    background: red;
    position: fixed;
    top: 0;
    left: 50%;
    z-index: 200;
}

.line2 {
    width: 100%;
    height: 1px;
    background: red;
    position: fixed;
    top: 50%;
    left: 0;
    z-index: 200;
}

canvas {
    z-index: 0;
    position: fixed;
    top: 0;
    left: 0;
}

#point-canvas {
    z-index: 50;
}

.upperLayer {
    z-index: 1000;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.upperLayer #menu {
    width: 40px;
    height: auto;
    left: 30px;
    top: 30px;
    cursor: pointer;
    position: fixed;
}

.upperLayer #bulb {
    width: 40px;
    height: auto;
    right: 30px;
    top: 30px;
    cursor: pointer;
    position: fixed;
}

.upperLayer #menu:hover + .cityPopup {
    display: block !important;
}

.upperLayer .cityPopup:hover {
    display: block !important;
}

.evidence {
    display: none;
    position: fixed;
    bottom: 0;
    z-index: 200;
    background: white;
}

.upperLayer div.cityPopup {
    width: auto;
    height: auto;
    margin: 30px 0 0 30px;
    background: #DDD;
    overflow: hidden;
    position: fixed;
    z-index: 100;
    padding: 30px;
    border-radius: 10px;
    top: 0;
    display: none;
}

.upperLayer div.cityDescription {
    width: auto;
    height: auto;
    max-width: 515px;
    max-height: 740px;
    margin: 30px 0 0 30px;
    background: #DDD;
    overflow: hidden;
    position: fixed;
    z-index: 100;
    padding: 30px;
    border-radius: 10px;
    top: 150px;
    right: 15px;
    visibility: hidden;
}


div.cityDescription p {
    font-size: 25px;
    font-weight: 25;
}

div.cityPopup p {
    font-size: 25px;
    font-weight: 700;
}

div.cityPopup ul li {
    margin-top: 20px;
    padding-bottom: 5px;
    border-bottom: 1px solid transparent;
}

div.cityPopup ul li:hover {
    font-weight: 600;
    cursor: pointer;
}

button.close {
  position: absolute;
  right: 10px;
}
