html, body, ul, p{
    margin: 0;
    padding: 0;
    list-style: none;
}

div {
    overflow: hidden;
}

html, body {
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    width: 100%;
    height: 100%;
}

body {
    /* background-image: url("assets/back.jpg");
    background-size: cover;
    background-position: 50%;
    background-repeat: no-repeat; */

    background: #000;
}

.line {
    width: 1px;
    height: 100%;;
    background: red;
    position: fixed;
    top: 0;
    left: 50%;
    z-index: 200;
    display: none;
}

.line2 {
    display: none;
    width: 100%;
    height: 1px;
    background: red;
    position: fixed;
    top: 50%;
    left: 0;
    z-index: 200;
}

canvas {
    z-index: 0;
    position: fixed;
    top: 0;
    left: 0;
}

.canvas-text-class{
  background-color: rgba(150, 150,150,0.5);
}

#my-canvas {
    background: rgba(0, 0, 0, 1);
}

#point-canvas {
    z-index: 50;
}

.upperLayer {
    z-index: 1000;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
}

.upperLayer #menu {
    width: 40px;
    height: auto;
    left: 30px;
    top: 30px;
    cursor: pointer;
    position: fixed;
}

.upperLayer #bulb {
    width: 40px;
    height: auto;
    right: 30px;
    top: 30px;
    cursor: pointer;
    position: fixed;
}

.upperLayer #backArrow {
    width: 40px;
    height: auto;
    right: 100px;
    top: 30px;
    cursor: pointer;
    position: fixed;
}

.upperLayer #menu:hover + .cityPopup {
    display: block !important;
}

.upperLayer .cityPopup:hover {
    display: block !important;
}

.evidence, .lights {
    /* display: none; */
    position: fixed;
    bottom: 0;
    z-index: 200;
    background: white;
    width: 100%;
    font-size: 12px;
    text-align: left;
}

.lights .tab {
    width: 48%;
    float: left;
    padding: 1% 1%;
    font-size: 15px;
    border-bottom: 2px solid #000;
    text-align: center;
    cursor: pointer;
}

.lights .tab.active {
    text-transform: uppercase;
    background: black;
    color: white;
    font-weight: 700 !important;
}

.lights .subtab.active {
    text-transform: uppercase;
    background: #333;
    color: white;
    font-weight: 700 !important;
}

.lights .subtab {
    width: 23%;
    float: left;
    padding: 1% 1%;
    border-bottom: 1px solid #000;
    text-align: center;
    cursor: pointer;
}

.lights .body {
    float: left;
    width: 100%;
    min-height: 250px;
}

.lights .body .sub-body {
    padding: 1%;
    width: 100%;
    position: absolute;
    left: 0;
    overflow: hidden;
}

.lights .body .sub-body .tab-body {
    width: 100%;
    position: relative;
}

.lights .body .sub-body .tab-body .col {
    width: 25%;
    position: relative;
    float: left;
}

.lights .body .sub-body .tab-body .row > div {
    float: left;
}

.lights .body select {
    width: 90%;
    margin-top: 5px;
    margin-bottom: 10px;
    height: 22px;
    outline: none;
}

.lights .body input {
    width: 90%;
    margin-top: 5px;
    margin-bottom: 10px;
    outline: none;
}

.evidence table {
    border-spacing: 0px;
    border-color: #DDD;
    border: none;
    width: 100%;
}

.evidence table tr {
    border: 1px solid #DDD;
}

.evidence table tr td {
    border: 0px solid #DDD;
}

.evidence select {
    width: 100%;
}

.upperLayer div.cityPopup {
    min-width: 150px;
    width: auto;
    height: auto;
    margin: 30px 0 0 30px;
    background: #DDD;
    overflow: hidden;
    position: fixed;
    z-index: 100;
    padding: 30px;
    border-radius: 10px;
    top: 0;
    display: none;
}

.upperLayer div.cityDescription {
    width: 350px;
    height: 400px;
    margin: 30px 0 0 30px;
    background: #DDD;
    overflow: hidden;
    position: fixed;
    z-index: 100;
    padding: 30px;
    border-radius: 10px;
    bottom: 15px;
    right: 15px;
    font-size: 10px;
    visibility: hidden;
    overflow: scroll;
    text-overflow: ellipsis;
}


div.cityDescription p {
    font-size: 20px;
    font-weight: 25;
    width: 100%;
}

div.cityPopup p {
    font-size: 25px;
    font-weight: 700;
}

div.cityPopup ul li {
    margin-top: 20px;
    padding-bottom: 5px;
    border-bottom: 1px solid transparent;
}

div.cityPopup ul li:hover {
    font-weight: 600;
    cursor: pointer;
}

div.close {
  position: absolute;
  right: 10px;
}
